@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager;


<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DoAnLapTrinhWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/DoAnLapTrinhWeb.styles.css" asp-append-version="true" />
</head>
<body class="h-100">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light justify-content-center" style="background-color: rgb(9,63,37)">
			<div class="container m-0 w-100 justify-content-between">
				<a class="text-white navbar-brand" asp-area="" asp-page="/Index">FiverrTwin</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="text-white nav-link" asp-area="" asp-page="/Index">Home</a>
						</li>
					</ul>
					@if (SignInManager.IsSignedIn(User))
					{
						<ul class="nav navbar-nav navbar-right flex justify-content-center align-items-center gap-2">
							<li>
								<a class="text-white btn" asp-area="Admin" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserAsync(User).Result?.UserName</a>
							</li>
							<li>
								<form class="text-white form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
									<button class="btn btn-primary">Logout</button>
								</form>
							</li>
						</ul>
					}
					else
					{
						<ul class="nav navbar-nav navbar-right flex justify-content-center align-items-center gap-2">

							<li class="nav-item">
								<a class="text-white nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
							</li>
							<li class="nav-item">
								<a class="text-white nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
							</li>
						</ul>
					}
				</div>
			</div>
		</nav>
	</header>
	<div class="h-100">
		<main role="main" class="h-100">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top text-muted" style="height: 3rem">
		<div class="container">
			&copy; 2024 - FiverrTwin
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>